fastapi==0.136.1
uvicorn==0.27.0
python-multipart==0.0.7
google-auth==2.48.0
google-api-python-client==2.116.0
python-dotenv==1.0.1
supabase==2.28.0
openai==2.21.0
groq==1.0.0
pydantic==2.12.5
requests==2.32.5
pypdf==4.0.1
langchain-text-splitters==0.2.0
google-genai==1.62.0
google-generativeai==0.8.6
slowapi==0.1.9
cachetools==6.2.6
PyMuPDF==1.23.21
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
httplib2==0.31.2
Pillow==12.1.0
sentry-sdk[fastapi]==2.53.0
httpx==0.28.1
tavily-python==0.7.22
PyJWT==2.11.0
json-repair==0.30.0

# dev
pytest>=7.0.0

