fastapi
uvicorn
python-multipart
google-auth
google-api-python-client
python-dotenv
supabase
openai
groq
pydantic
requests
pypdf
langchain-text-splitters
google-genai
google-generativeai
slowapi
cachetools
pymupdf
google-auth-httplib2
google-auth-oauthlib
httplib2
Pillow
langchain
sentry-sdk[fastapi]
pytest
httpx
tavily-python
